---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Solid Stake | Staking Without Complexities',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=696bd7cb974e72ce84b88122&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
   
  
  >
    <Fragment slot="title">
      Secure <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> </span> Staking
    </Fragment>
     <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Less Risk</span> More Rewards
        </span
        >
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e9" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/fbd7b780-753e-41e2-9c2c-0ec61aaceedb/6OZFWnB816.lottie" speed="1" style="width: 100%; height: 530px" mode="forward" loop autoplay></dotlottie-wc>
      <span class="hidden sm:inline">
        <span class="font-semibold">Elevate</span> Your Earnings effortlessly by securely </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
     Staking your funds with professional POS validator. Each delegation not only strengthens decentralization but also contributes to our continuous growth, enabling us to enhance our services and provide you with an even better staking experience.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "06d5cc16-c6cd-4f80-9207-eac3f610a212"
  });
</script>
</Layout>
